<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

    <%= render :partial => "form" %>

<% end %>
<% if @article.id and @admin %>
    <h4>Merge Article</h4>
    <%= form_tag :action => "merge_with", :id => @article.id do %>
        <%= label_tag "merge_id", "Article ID" %>
        <%= text_field_tag "merge_id" %>
        <%= submit_tag "Merge" %>
    <% end %>
<% end %>